:root {
  --transition-time: 0.3s;
}

.App {
  text-align: center;
  outline: none;
  height: 100vh;
  width: 100vw;
}

.controls {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
}

.controls > button {
  cursor: pointer;
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d0113;
  transition: var(--transition-time) ease-in-out;
  outline: none; /* Removes the default focus style. */
  user-select: none; /* Prevents text selection. */
}

.controls:not(.blurred) > button:hover {
  background-color: #f50334;
  box-shadow: 0 0 10px 5px #5d0113;
}

.card {
  transition: var(--transition-time) ease-in-out;
  user-select: none;
}

.image {
  border: 5px solid #5d0113;
  transition: var(--transition-time) ease-in-out;
  cursor: pointer;
}

.title {
  transition: var(--transition-time) ease-in-out;
  font-size: 5vmin;
}

.title-dark-theme {
  color: silver;
}

.title-light-theme {
  color: #5d0113;
}

.flip {
  animation: flip var(--transition-time) ease-in-out;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.large-image {
  width: 60vmin;
  height: auto;
  margin: 0 20px;
}

.small-image {
  width: 20vmin;
  height: auto;
  margin: 0 10px;
}

.very-small-image {
  width: 10vmin;
  height: auto;
  margin: 0 5px;
}

.very-very-small-image {
  width: 2vmin;
  height: auto;
  margin: 0 2.5px;
}

.hidden-image {
  display: none;
}

.carousel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: var(--transition-time) ease-in-out;
}

.blurred {
  filter: blur(1px);
}

.dark-theme {
  background-color: rgb(16, 0, 0);
  color: silver;
}

.light-theme {
  background-color: silver;
  color: rgb(16, 0, 0);
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(16, 0, 0);
  color: white;
}

.progress-bar {
  width: 300px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #f50334;
  transition: width 0.5s ease-out;
}

.modal {
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--transition-time) ease-in-out;
}

.modal.open {
  opacity: 1;
  pointer-events: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: var(--transition-time) ease-in-out;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 5px;
  font-size: 1.3rem;
  border: 5px solid #5d0113;
}
