.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.image {
  border: 5px solid #5d0113;
  transition: width 0.5s ease, height 0.5s ease, border 0.2s ease,
    transform 0.5s ease;
}

/* This doesn't work, because that would be too obvious: */
/* .App .image:hover {
  border: 5px solid #f50334;
} */

#name {
  color: silver;
  transition: color 0.2s ease;
}

.image:hover {
  border: 5px solid #f50334;
}

.large-image:hover {
  width: 66vmin;
}

.small-image:hover {
  width: 22vmin;
}

.very-small-image:hover {
  width: 11vmin;
}

.large-image {
  width: 60vmin;
  height: auto;
  margin: 0 20px;
}

.small-image {
  width: 20vmin;
  height: auto;
  margin: 0 10px;
}

.very-small-image {
  width: 10vmin;
  height: auto;
  margin: 0 5px;
}

.very-very-small-image {
  width: 5vmin;
  height: auto;
  margin: 0 2.5px;
}

.hidden-image {
  display: none;
}

.App-header {
  background-color: rgb(26, 0, 0);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f6adbd;
}
