:root {
  --transition-time: 0.3s;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.card {
  transition: all var(--transition-time) ease-in-out;
  user-select: none;
}

.image {
  border: 5px solid #5d0113;
  transition: all var(--transition-time) ease-in-out;
}

.title {
  color: silver;
  transition: all var(--transition-time) ease-in-out;
  font-size: 5vmin;
}

.flip {
  animation: flip 0.15s ease-in-out;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.large-image {
  width: 60vmin;
  height: auto;
  margin: 0 20px;
}

.small-image {
  width: 20vmin;
  height: auto;
  margin: 0 10px;
}

.very-small-image {
  width: 10vmin;
  height: auto;
  margin: 0 5px;
}

.very-very-small-image {
  width: 2vmin;
  height: auto;
  margin: 0 2.5px;
}

.hidden-image {
  display: none;
}

.App-header {
  background-color: rgb(26, 0, 0);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f6adbd;
}
