@font-face {
  font-family: "Black Chancery";
  src: url("./assets/fonts/black-chancery/BLKCHCRY.TTF") format("truetype");
}

body {
  margin: 0;
  font-family: "Black Chancery";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(16, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
